@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using LexiconCarsApp.Web.Controllers
@using LexiconCarsApp.Web.Models
@model Car

@{
    Layout = "_Layout";
    ViewBag.Title = "Car details";
}


<div>
    <h2>Car details</h2>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Make</li>
        <li>@Model.Model</li>
        <li>@Model.Color</li>
        <li>@Model.Year</li>
    </ul>
    <h3><a asp-controller="Cars" asp-action="@nameof(CarsController.Index)">Index</a></h3>
</div>
