@model LexiconCarsApp.Web.Views.Cars.DetailsVm

@{
    ViewBag.Title = "Car details";
}

<div>
    <h2>Car details</h2>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Make</li>
        <li>@Model.Model</li>
        <li>@Model.Color</li>
        <li>@Model.Year</li>
    </ul>
</div>
