@model LexiconCarsApp.Web.Views.Cars.IndexVm

@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}

<div>
    <div>
        <h2>Cars</h2>
        <ul>
            @foreach (var car in Model.ListOfIndexItemVms)
            {
                <li>
                    <a asp-controller="Cars" asp-action="@nameof(CarsController.Details)" asp-route-id="@car.CarId">@car.CarMake</a>
                    <a asp-controller="Cars" asp-action="@nameof(CarsController.Edit)" asp-route-id="@car.CarId">Edit</a>
                    <a asp-controller="Cars" asp-action="@nameof(CarsController.Delete)" asp-route-id="@car.CarId">Delete</a>
                </li>
            }
        </ul>
    </div>
</div>
